<form id="about-info-form">
  <textarea class="about_info" name="about_info"><%= user.escape('about_info') %></textarea>
  <div class="mt-3">
    <button class="about-info-save-btn btn btn-primary" data-form-id="about-info-form">Save</button>
    <button class="about-info-cancel-btn btn btn-primary" data-form-id="about-info-form">Cancel</button>
  </div>
</form>