<!--  FIXME: textarea can resize beyond the parent well. -->

Update your info:
<form class='about-info-form'>
  <textarea name='about_info'><%= user.escape('about_info') %></textarea>

  <button class='about-info-save-btn btn btn-primary'>Save</button>

</form>
