<%= render partial: 'shared/navbar', locals: {other_url: '/sign-in', other_link_text: 'Sign In'} %>

<div class="front-page">
  <%= render partial: 'components/front_carousel' %>
  <%= render partial: 'components/front_marketing' %>
</div>

