<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<div id='content' class="container-fluid">
  <div class="navbar-wrapper front-nav" id='navbar-top'>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">FosterPals</a>

        <div class='navbar-tagline'>
          Connecting rescue organizations with people like you.
        </div>

      </div>
      <div id="navbar" class="navbar-collapse collapse pull-right">
        <ul class="nav navbar-nav">
          <li>
            <a href="/session/new">Sign-in</a>
          </li>
          <li>
            <a href="/register">Register</a>
          </li>
          <li>
            <a href="/sign-in-as-guest">Sign In As A Guest</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <main class="page-front row">
    <div class="row">
      <div class="col">
        here is some text"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..." "There
        is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..." What is Lorem
        Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page
        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
        as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages
        and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover
        many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes
        on purpose (injected humour and the like).



        <img class="img-fluid" src="assets/catsmile.jpeg" />
      </div>



      <%
=begin
      <div id="myCarousel" class="carousel slide col" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class=""></li>
          <li class="active" data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="row">
          <div class="carousel-inner col" role="listbox">
            <div class="item">
              <img class="img-fluid slide" src="assets/catsmile.jpeg" alt="First slide" />
              <div class="carousel-caption">
                <h1>Make a new friend.</h1>
                <p>We connect people who want to help animals in need. Becoming a foster pal is the first step to making new
                  friends and making a difference.</p>
                <p>
                  <a class="btn btn-lg btn-primary" href="#featurette-1" role="button">Learn More</a>
                </p>
              </div>
            </div>

            <!-- TODO: have carousel images scale with browser instead of positioning the carousel images-->
            <div class="item active">
              <img class="slide" src="assets/catsnowcolor.jpeg" alt="Second slide" />
              <div class="carousel-caption">
                <h1>Save a life.</h1>
                <p>Sometimes a place to stay for just one night can save a life. Foster pals make connections that save lives.</p>
                <p>
                  <a class="btn btn-lg btn-primary" href="front#featurette-2" role="button">Learn more</a>
                </p>
              </div>
            </div>

            <div class="item">
              <img class="slide" src="assets/catstare.jpg" alt="Third slide" />
              <div class="carousel-caption">
                <h1>Share the love.</h1>
                <p>Our gallery is full of people who love animals and animals who could use a little love.</p>
                <p>
                  <a class="btn btn-lg btn-primary" href="front#featurette-3" role="button">Learn More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>
=end %>


        <div class="marketing">
          <hr class="featurette-divider front" />
          <section class='odd-featurette featurette'>
            <!-- START THE FEATURETTES -->
            <div class="row">
              <div class="col-md-5">
                <img data-holder-rendered="true" src="assets/cat4.jpeg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                  alt="500x500" />
              </div>
              <div class="col-md-7">
                <h2 class="featurette-heading" id='featurette-1'>Make a new friend.
                  <span class="text-muted"> You'll fall in love.</span>
                </h2>
                <div class="row">
                  <p class="lead col">
                    Become a part of our gang. (Picture of all the puppies at the beach) Whether you represent a rescue organization, a shelter,
                    or are just interested in learning how you can help, we can make the connection you're looking for. There's
                    no commitment involved in signing up, and we'll never, ever share your information with anyone unless
                    you ask us to. It takes just a few minutes to register to become a foster pal, so what are you waiting
                    for?
                  </p>
                </div>

              </div>
            </div>
          </section>
          <hr class="featurette-divider front">
          <section class='even-featurette featurette'>
            <div class="row">
              <div class="col-7 col-push-5">
                <h2 class="featurette-heading" id='featurette-2'>Save a life.
                  <span class="text-muted"> Be a Hero.</span>
                </h2>
                <p class="lead">
                  Provide shelter in a storm. (Pathetic cat picture of your choice) We believe that every adoptable animal should be given
                  a chance to find a loving home, don't you? The problem is that sometimes there simply aren't enough spaces
                  for animals in need. Shelter populations can vary widely, and weather events or other unforeseen circumstances
                  can leave adoptable animals out in the cold. Sometimes a place to stay for just one night can make all
                  the difference. Whether you represent a shelter, a rescue organization, a foster ring, or just want to
                  learn more about how you can help, becoming a foster pal is a great way to spread the love. --If you're
                  a shelter or a rescue organization, we connect you with people who are willing to provide a port in a storm
                  for an animal in need. --If you're interested in providing short-term shelter to an animal awaiting adoption,
                  we put you in touch with people who need your help.
                </p>
              </div>
              <div class="col-md-5 col-pull-7">
                <img data-holder-rendered="true" src="assets/cat5.jpeg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                  alt="500x500" />
              </div>
            </div>
          </section>
          <hr class="featurette-divider front" />
          <section class='odd-featurette featurette'>
            <div class="row">
              <div class="col-7">
                <h2 class="featurette-heading" id="featurette-3">Share the love.
                  <span class="text-muted"> Bring more to your life.</span>
                </h2>
                <p class="lead">Make connections that save lives. Our foster pals gallery is where you can make connections that save lives,
                  just sign in to get started!</p>

              </div>
              <div class="col-5">
                <img data-holder-rendered="true" class='featurette-image img-responsive center-block' src="assets/cat3.jpeg" data-src="holder.js/500x500/auto"
                  alt="500x500" />
              </div>
            </div>
          </section>
          <hr class="featurette-divider front" />
        </div>
    </div>




  </main>

  <svg style="visibility: hidden; position: absolute; top: -100%; left: -100%;" preserveAspectRatio="none" viewBox="0 0 500 500"
    height="500" width="500">
    <defs></defs>
    <text style="font-weight:bold;font-size:23pt;font-family:Arial, Helvetica, Open Sans, sans-serif;dominant-baseline:middle"
      y="23" x="0">500x500</text>
  </svg>

  <div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">FosterPals</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="img-fluid" alt="140x140" src='assets/suki-in-your-face.JPG' />
          <div class="mt-5">
            <h4 class="modal-title">
              FosterPals.
              <span class="text-muted"> What we do:</span>
            </h4>
            <ul>
              <li>
                We. Love. Animals.
              </li>
              <li>
                We connect animal rescue organizations with people who want to foster animals.
              </li>
              <li>
                So that an animal will one day find a forever home.
              </li>
              <li>
                That's what we are about.
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer text-center">
          <a class="btn btn-default modal-off" href="" data-toggle='modal' role="button">Read About Us!</a>
          <a class="btn btn-success sign-in" href="" data-toggle='modal' role="button">Sign in as a Guest!</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    // for smooth scroll when clicking on the 'learn more' button
    $('a[href*=#]:not([href=#])').click(function () {
      if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });

    jQuery.noConflict();
    // $('#myModal').modal()

    $('a.modal-off').on('click', function (event) {
      event.preventDefault();
      $('.modal').modal('hide');
    });

    $('a.sign-in').on('click', function (event) {
      event.preventDefault();
      window.location = '/sign-in-as-guest';
    });
  });
</script>