
<div id='content'>

    <div class="navbar-wrapper" id='navbar-top'>
      <nav class="navbar navbar-inverse navbar-static-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FosterPals</a>

            <div class='navbar-tagline'>
              Connecting rescue organizations with people like you.
            </div>

          </div>
          <div id="navbar" class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
              <li><a href="/session/new">Sign-in</a></li>
              <li><a href="/register">Register</a></li>
              <li><a href="/sign-in-as-guest">Sign In As A Guest</a></li>
            </ul>
          </div>
      </nav>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li class="active" data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <img class="first-slide" src="http://placekitten.com/3089/2001" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Make a new friend.</h1>
              <p>We connect people who want to help animals in need. Becoming a foster pal is the first step to making new friends and making a difference.</p>
              <p><a class="btn btn-lg btn-primary" href="#featurette-1" role="button">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="item active">
          <img class="second-slide" src="http://placekitten.com/3089/2002" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Save a life.</h1>
              <p>Sometimes a place to stay for just one night can save a life. Foster pals make connections that save lives.</p>
              <p><a class="btn btn-lg btn-primary" href="front#featurette-2" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="http://placekitten.com/3090/2003" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Share the love.</h1>
              <p>Our gallery is full of people who love animals and animals who could use a little love.</p>
              <p><a class="btn btn-lg btn-primary" href="front#featurette-3" role="button">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" id='featurette-1'>Make a new friend.<span class="text-muted"> You'll fall in love.</span></h2>
          <p class="lead">Become a part of our gang. (Picture of all the puppies at the beach)
          Whether you represent a rescue organization, a shelter, or are just interested in learning how you can help, we can make the connection you're looking for. There's no commitment involved in signing up, and we'll never, ever share your information with anyone unless you ask us to. It takes just a few minutes to register to become a foster pal, so what are you waiting for?</p>
          <a href='/register'>
            <button class='btn btn-primary register-featurette-btn'>Register</button>
          </a>
        </div>
        <div class="col-md-5">
          <img data-holder-rendered="true" src="http://placekitten.com/600/607" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading" id='featurette-2'>Save a life.<span class="text-muted"> Be a Hero.</span></h2>
          <p class="lead">Provide shelter in a storm. (Pathetic cat picture of your choice)
          We believe that every adoptable animal should be given a chance to find a loving home, don't you? The problem is that sometimes there simply aren't enough spaces for animals in need. Shelter populations can vary widely, and weather events or other unforeseen circumstances can leave adoptable animals out in the cold. Sometimes a place to stay for just one night can make all the difference. Whether you represent a shelter, a rescue organization, a foster ring, or just want to learn more about how you can help, becoming a foster pal is a great way to spread the love.

          --If you're a shelter or a rescue organization, we connect you with people who are willing to provide a port in a storm for an animal in need.

          --If you're interested in providing short-term shelter to an animal awaiting adoption, we put you in touch with people who need your help.</p>
          <a href='/register'>
            <button class='btn btn-primary register-featurette-btn'>Register</button>
          </a>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img data-holder-rendered="true" src="http://placekitten.com/600/603" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" id="featurette-3">Share the love.<span class="text-muted"> Bring more to your life.</span></h2>
          <p class="lead">Make connections that save lives. Our foster pals gallery is where you can make connections that save lives, just sign in to get started!</p>
          <a hreg='/register'>
            <button class='btn btn-primary register-featurette-btn'>Register</button>
          </a>
        </div>
        <div class="col-md-5">
          <img data-holder-rendered="true" src="http://placekitten.com/600/604" data-src="holder.js/500x500/auto" alt="500x500">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#navbar-top">Back to top</a></p>
        <p>© 2015 FosterPals · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="../../assets/js/vendor/holder.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


  <svg style="visibility: hidden; position: absolute; top: -100%; left: -100%;" preserveAspectRatio="none" viewBox="0 0 500 500" height="500" width="500"><defs></defs><text style="font-weight:bold;font-size:23pt;font-family:Arial, Helvetica, Open Sans, sans-serif;dominant-baseline:middle" y="23" x="0">500x500</text></svg>

<!-- MODAL ===============================================================  -->

<div id='myModal' class="modal fade in slacker-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
	<div class="modal-dialog modal-slacker">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<img class="modal-img" alt="140x140" src='http://res.cloudinary.com/dt6ccpxqd/image/upload/v1435029050/xanrvdmtah0asnkijhfc.jpg'>
				<h4 class="modal-title" id="myLargeModalLabel">
          FosterPals.
          <span class="text-muted"> Here's we do:</span>
        </h4>
			</div>
			<div class="modal-body">
				<div class="col-md-6 text-center modal-text">
  				<p>
            <ul>
              <li>
                We. Love. Animals.
              </li>
              <li>
                We connect animal rescue organizations with people who want to foster animals.
              </li>
              <li>
                So that an animal will one day find a forever home.
              </li>
              <li>
                That's what we are about.
              </li>
            </ul>
          </p>
   				<p><a class="btn btn-default modal-off" href="" data-toggle='modal' role="button">Come Take Look! »</a></p>
  			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<!-- END MODAL =========================================================== -->


<script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });

    jQuery.noConflict();
    $('.modal').modal();

    $('a.modal-off').on('click', function (event) {
      event.preventDefault();
      $('.modal').modal('hide');
    });

    $('button.register-featurette-btn').on('click', function () {

    })
  });
</script>
