.navbar-wrapper

.who-made-this
  %a{href: 'http://ctram.github.io', style: 'text-decoration: none'}
    Who made this?
#content

-#

:javascript
  $(document).ready(function(){
    FosterPals.initialize();
  });

-#
  window.CURRENT_USER = "#{current_user}"
  window.CURRENT_USER_ID = "#{current_user.id}"
