%h4
  Backbone User's Home
%hr

.navbar-wrapper

#content


-#
  TODO: working on home show view - add subviews for the profile and info box.


:javascript
  $(document).ready(function(){
    FosterPals.initialize();
  });

-#
  window.CURRENT_USER = "#{current_user}"
  window.CURRENT_USER_ID = "#{current_user.id}"
