.navbar-wrapper

#content

-#

:javascript
  $(document).ready(function(){
    FosterPals.initialize();
  });

-#
  window.CURRENT_USER = "#{current_user}"
  window.CURRENT_USER_ID = "#{current_user.id}"
