%h1
  Register


.form-horizontal.well
  %form{action: "#{process_registration_url}", method: 'POST' }
    %input{type:'hidden', name:'authenticity_token', value:' form_authenticity_token'}



    %field-set.form-group

      <div class="input-group form-group">
      <input type='radio' class='form-control' name='user[role]' value='orgranization' id='org-radio-btn' checked>
      Rescue Organization
      </input>
      </div>

      <div class="input-group form-group" >
      <input type='radio' class='form-control' name='user[role]' value='fosterer' id='fosterer-radio-btn'>
      Fosterer
      </input>
      </div>

      <div class="input-group form-group hidden" id="num-animals">
      %input{type:"number", class:"form-control", placeholder:"Maximum animals to foster",name: "user[num_animals_willing_to_foster]", min:1, max:99}
      </div>

      <div class="input-group form-group">
      %input{type:"email", class:"form-control", placeholder:"Email",name: "user[email]"}
      </div>


      <div class="input-group form-group">
      %input{type:"password", class:"form-control", placeholder:"Password",name: "user[password]"}
      </div>



      <div class="input-group form-group">
      %input{type:"text", class:"form-control", placeholder:"First Name",name: "user[first_name]"}
      </div>



      <div class="input-group form-group">
      %input{type:"text", class:"form-control", placeholder:"Last Name",name: "user[last_name]"}
      </div>



      <div class="input-group form-group">
      %input{type:"text", class:"form-control", placeholder:"Street Address",name: "user[street_address]"}
      </div>



      <div class="input-group form-group">
      %input{type:"text", class:"form-control", placeholder:"City",name: "user[city]"}
      </div>



      <div class="input-group form-group">
      %input{type:"text", class:"form-control", placeholder:"Zipcode",name: "user[zip_code]"}
      </div>


    %input.form-group{type: 'submit', class:'btn btn-primary'}


-# TODO: add transitions to registration page 

:javascript
  var fostererRadioBtnSelected = false;

  var $fostererRadioBtn = $('#fosterer-radio-btn');
  var $fostererRadioDiv = $('#num-animals');
  var $orgRadioBtn = $('#org-radio-btn');

  $fostererRadioBtn.on('click', function (event) {
    if ($fostererRadioDiv.hasClass('hidden')) {
      $('#num-animals').removeClass('hidden');
    }
  });

  $orgRadioBtn.on('click', function (event) {
    if (!$fostererRadioBtn.hasClass('hidden')) {
      $('#num-animals').addClass('hidden');
    }
  });
