.static-page-content.page-sign-in.pt-5
  .text-center
    .page-header
      %h1
        Sign In!

    .row.justify-content-center
      %form{action: "#{session_url}", method: 'POST', class: 'col-10 col-lg-6 col-xl-5 text-left' }
        %input{type:'hidden', name:'authenticity_token', value:' form_authenticity_token'}

        .form-group
          %label
            Email
          %input{type:"email", class:"form-control", placeholder:"Email",name: "user[email]"}

        .form-group
          %label
            Password
          %input{type:"password", class:"form-control", placeholder:"Password",name: "user[password]"}

        %button{class:'btn btn-primary'}
          Sign In!
