
= render partial: 'shared/navbar', locals: {other_url: '/register', other_link_text: 'Register'}

.static-page-content 
  = render partial: 'shared/flashes'


  .page-header
    %h1
      Sign In!

  .form-horizontal.well
    %form{action: "#{session_url}", method: 'POST' }
      %input{type:'hidden', name:'authenticity_token', value:' form_authenticity_token'}

      %field-set.form-group
        %label

          <div class="input-group form-group">
          %input{type:"email", class:"form-control", placeholder:"Email",name: "user[email]"}
          </div>

        %br

        %label

          <div class="input-group form-group">
          %input{type:"password", class:"form-control", placeholder:"Password",name: "user[password]"}
          </div>

        %br

        %button{class:'btn btn-primary'}
          Sign In!
