<h2 class="mb-3">
    Request a Stay with
    <strong>
        <%= fosterer.escape('name')%>
    </strong>
</h2>

<hr />

<h3 class="mb-3">Select Animals for this Stay</h3>
<div class="animal-roster-hook mb-3" />

<div class="chosen-animals-container p-3 mb-3 d-none">
    <h3 class="mb-5 chosen-animals-heading">Animals for this Reservation</h3>
    <div class="chosen-animals-hook mb-3" />
</div>

<div class="my-3">
    <div class="check-in-group">
        <h3>Check-in</h3>
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <input type="text" class="form-control" id="check-in" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar" />
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="check-out-group">
        <h3>Check-out</h3>
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <input type="text" class="form-control" id="check-out" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary" id="check-aval-btn" disabled>Check Availability</button>

<script type="text/javascript">
    $(function () {
        $("#check-in").datetimepicker({
            format: "MM/DD/YYYY"
        });
        $("#check-out").datetimepicker({
            format: "MM/DD/YYYY"
        });
    });
</script>