<h2 class="mb-3 brand-color">
    Request a Stay with
    <strong>
        <%= fosterer.escape('name')%>
    </strong>
</h2>

<hr />

<div class="mt-5">
    <h3>Select Animals for this Stay</h3>
    <div class="no-animals-to-select mt-3 <%= animals.length === 0 ? '' : 'd-none' %>">
        No animals.
    </div>
    <div class="animal-roster-hook mb-3" />
</div>

<hr />

<div class="chosen-animals-container py-3 my-5">
    <h3>Animals for this Reservation</h3>
    <div class="no-animals-for-reservation mt-3">
        No animals added yet.
    </div>
    <div class="chosen-animals-hook mb-3" />
</div>

<div class="my-3">
    <div class="check-in-group">
        <h3>Check-in</h3>
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <input type="date" class="form-control" id="check-in" required />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar" />
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-check my-3">
        <input class="form-check-input" type="checkbox" value="" id="indefinite-stay-checkbox" />
        <label class="form-check-label" for="indefinite-stay-checkbox">
            Indefinite Stay
        </label>
    </div>
    <div class="check-out-group">
        <h3>Check-out</h3>
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <input type="date" class="form-control" id="check-out" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar" />
                    </span>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" id="check-aval-btn" disabled>Check Availability</button>
</div>