<div>
  <h3>Requests Sent for the Following:</h3>

  <% for (var i = 0; i < reservations.models.length; i++) { %>
    <% var animal = reservations.models[i].attributes.animal %>
      <div class="mb-5">
        <img class="img-fluid" src="<%= animal.main_image_thumb_url %>">
        <strong class="ml-3">
          <%= animal.name %>
        </strong>
      </div>
      <% } %>

        <button class="btn btn-primary to-map">
          Return to Map
        </button>
</div>