Form for updating about data.
<form class='about-info-form'>
  <textarea name='user[about_info]'><%= user.escape('about_info') %></textarea>
  <input type='hidden' name='user[id]' value='<%= CURRENT_USER_ID %>'>

  <button class='about-info-save-btn'>Save</button>

</form>
