Form for updating about data.
<form class='about-info-form'>
  <textarea name='user[about_info]'><%= user.escape('about_info') %></textarea>

  <button class='about-info-save-btn'>Save</button>

</form>
