<div class='profile-photo'>
</div>

<hr>

<div>
  <label class='profile-label'>
      Name:
  </label>
  <%= animal.escape('name') %>
</div>

<!--
  <div>
    <label class='profile-label'>
        Fosterer:
    </label>
    <%= animal.escape('name') %>
  </div>

  <div>
    <label class='profile-label'>
        Rescue Org:
    </label>
    <%= animal.escape('name') %>
  </div>
-->

<div class='contact-btns'>
</div>
