<h1> <%= CURRENT_USER %>'s Scheduler</h1>

<div class='container-fluid'>
  <div class='row'>

    <div class='profile-island col-md-4'>
    </div>

    <div class='scheduler col-md-8'>
    </div>
  </div>

</div>
