<div id='selector'>
  <button class='to-animal-roster-btn btn btn-primary'>
    There are currently no animals in your roster. Please add some.
  </button>
</div>


<!--
<script>
  $(function () {
    $('#selector').selectable();
  })
</script>
-->
