<div id='selector'>
  <button class='to-animal-roster-btn btn btn-primary'>
    You currently have no animals. Click here to add some!
  </button>
</div>


<!--
<script>
  $(function () {
    $('#selector').selectable();
  })
</script>
-->
