<div class='container-fluid'>
  <button class='btn btn-primary to-animal-roster-btn'>
    Back to Animal Roster
  </button>
  <div class='row'>
    <div class='profile-hook'>
    </div>
    <div class='image-gallery-hook'>
    </div>
  </div>
</div>
