<div class="p-5">
  <div>
    <button class="btn btn-primary to-animal-roster-btn">
      Back to Animals
    </button>
  </div>
  
  <h1 class="text-center my-3">
    <%= animal.escape("name") %>
  </h1>
  
  <div class="profile-hook" />
  <div class="image-gallery-hook" />
</div>
