<div class='animal-name'>
  <%= animal.escape('name') %>
</div>

<div class='container-fluid well'>
  <button class='btn btn-primary to-animal-roster-btn'>
    Back to Animals
  </button>

  <div class='row'>
    <div class='profile-hook'>
    </div>
    <div class='image-gallery-hook'>
    </div>
  </div>
</div>
