<div class='explain explain-my-pets animated slideInTop well'>
	Check on the status of requests you've made for a FosterPal to foster your pet. Also add more pets to your roster.
</div>

<div class='explain explain-reservations animated slideInTop well'>
	Check on reservation requests made by other FosterPals, requesting you to foster their pets. Confirm or deny these requests.
</div>

<div class='explain explain-search-results-profiles animated slideInLeft well'>
	Go to a FosterPal's profile page to request a reservation for your FosterPal to foster your animals.
</div>



<div class='profile-preview-hook'></div>

<div class='user-items animated fadeInLeft'></div>

<div class='error-msg-hook'></div>

<div class='map-hook animated fadeInRight'></div>

<!-- MODAL ===============================================================  -->

<div class="modal fade in slacker-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false">
	<div class="modal-dialog modal-slacker">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myLargeModalLabel">
          The Map.
          <span class="text-muted">Find Other FosterPals.</span>
        </h4>
			</div>
			<div class="modal-body">
				<div class="text-center modal-text">
  				<p class='map-modal-text'>
            Enter a location in the search bar to check for FosterPals nearby. Follow a link from <b>Search Results</b> to reach a FosterPal's profile page, where you can submit a request to have your pets fostered.
          </p>

          <p class='map-modal-text'>
            Go to <b>My Pets</b> to check on the reservation status of your pets and to add pets to your roster.
          </p>

          <p class='map-modal-text'>
            Go to <b>Reservation Requests</b> to see requests made by other FosterPals, asking you to foster a pet.
          </p>

   				<p>
            <a class="btn btn-default modal-off" href="" data-toggle='modal' role="button">
              Go To The Map!
            </a>
          </p>
  			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<!-- END MODAL =========================================================== -->
<script>
  $(function () {
		// TODO: write up tour maps page.
		var tour = function tour () {

		}

		if (FosterPals.mapFirstVisit) {
	    $('.modal').modal();

	    $('a.modal-off').on('click', function (event) {
	      event.preventDefault();
	      $('.modal').modal('hide');
	    });
			FosterPals.mapFirstVisit = false;
		}
  });
</script>
