<div class="explain text-left p-3 explain-my-pets card invisible" data-link-id="animal-roster-link">
	Check status of your requests to foster your pets.
	<br /> Add more pets to your roster.
	<br />
	<strong>Click for next tip.</strong>
</div>

<div class="explain text-left p-3 explain-reservations card invisible" data-link-id="schedule-manager-link">
	Check on reservation requests made by other FosterPals, requesting you to foster their pets.
	<br /> Confirm or deny these requests.
	<br />
	<strong>Click for next tip.</strong>
</div>

<div class="explain text-left p-3 explain-search-results-profiles card invisible" data-link-id="profile-link">
	Go to a FosterPal"s profile page to request a reservation for your FosterPal to foster your animals.
	<br />
	<strong>Click to exit tips.</strong>
</div>

<div class="profile-preview-hook" />
<div class="error-msg-hook" />

<div class="results-and-map row">
	<div class="user-items-hook col-3" />
	<div class="map-hook col-9" />
</div>

<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					The Map.
					<span class="text-muted">Find Other FosterPals.</span>
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					Enter a location in the search bar to check for FosterPals nearby. Follow a link from
					<strong>Search Results</strong> to reach a FosterPal"s profile page, where you can submit a request to have your pets fostered.
				</p>
				<p>
					Go to
					<strong>My Pets</strong> to check on the reservation status of your pets and to add pets to your roster.
				</p>
				<p>
					Go to
					<strong>Reservation Requests</strong> to see requests made by other FosterPals, asking you to foster a pet.
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default modal-off" href="" data-toggle="modal" role="button" data-dismiss="modal">
					Go To Map!
				</button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function () {
		var explanationDivs = [
			$(".explain-my-pets")[0],
			$(".explain-reservations")[0],
			$(".explain-search-results-profiles")[0]
		];

		// link divs that the explanations are referring to
		var highlightedLinks = [
			$("#animal-roster-link"),
			$("#schedule-manager-link"),
			$(".go-to-user-profile")
		];

		function removeExplanationDiv($div) {
			if ($div.classList[0] === "explain") {
				// div is an explanation
				setTimeout(function ($div) {
					$div.remove();
				}, 3000);
			} else {
				// div is a link
				$div.removeClass("nav-link-pop");
			}
		}

		function removePulses() {
			var elements = $(".pulse");
			elements.each(function (idx, element) {
				$(element).removeClass("pulse nav-link-pop");
			});
		}

		$("*").on("click", function () {
			var urlFragment = Backbone.history.location.href.split("/")[3];

			if (!urlFragment || !urlFragment.includes("search")) {
				removePulses();
				$("*").off();
				$('.modal-backdrop').remove();
			}
		});

		function tour() {
			var divRemovalQueue;
			var linkRemovalQueue;
			var $previousDiv;
			var $previousLink;
			var $nextDiv;
			var $nextLink;

			var $explainMyPets = $($(".explain-my-pets"));
			$explainMyPets.removeClass("invisible");
			$("#" + $explainMyPets.data("link-id")).addClass("pulse nav-link-pop");

			$(".explain").on("click", function (event) {
				$previousDiv = $(event.currentTarget);
				$previousDiv.addClass("invisible");

				if (explanationDivs.length === 0) {
					$previousLink = $($(".go-to-user-profile")[0]);
				} else {
					$previousLink = $("#" + $previousDiv.data("link-id"));
				}

				$previousLink.removeClass("nav-link-pop pulse");
				setTimeout(function () {
					$previousDiv.remove();
				}, 3000);

				if (explanationDivs.length > 1) {
					$nextDiv = $(explanationDivs.shift());
					$nextLink = $(highlightedLinks.shift());
					$nextDiv.removeClass("invisible")
					$nextLink.addClass("nav-link-pop pulse");
				} else if (explanationDivs.length === 1) {
					$nextDiv = $(explanationDivs.shift());
					$nextLink = $($(".go-to-user-profile")[0]);
					$nextDiv.removeClass("invisible")
					$nextLink.addClass("nav-link-pop pulse");
				}
			});
		}

		if (FosterPals.mapFirstVisit) {
			$(".modal").modal();
			$(".modal").on("hidden.bs.modal", function () {
				tour();
			});
			setTimeout(function () {
				var observer = new MutationObserver(function () {
					$(explanationDivs.shift()).removeClass("hidden").addClass("slideInRight");
					$(highlightedLinks.shift()).addClass("nav-link-pop pulse");
					observer.disconnect();
				})
				observer.observe($(".modal")[0], {
					"attributes": true,
					"childList": true,
					"characterData": true
				})
			}, 500);

			FosterPals.mapFirstVisit = false;
		}

	});
</script>