<div class="explain text-left p-3 explain-my-pets card <%= tourOn && tourStep === 1 ? '' : 'd-none' %>" data-link-id="animal-roster-link">
	Check status of your requests to foster your pets.
	<br /> Add more pets to your roster.
	<br />
	<strong>Click for next tip.</strong>
</div>

<div class="explain text-left p-3 explain-reservations card <%= tourOn && tourStep === 2 ? '' : 'd-none' %>" data-link-id="schedule-manager-link">
	Check on reservation requests made by other FosterPals, requesting you to foster their pets.
	<br /> Confirm or deny these requests.
	<br />
	<strong>Click for next tip.</strong>
</div>

<div class="explain text-left p-3 explain-search-results-profiles card <%= tourOn && tourStep === 3 ? '' : 'd-none' %>" data-link-id="profile-link">
	Go to a FosterPal"s profile page to request a reservation for your FosterPal to foster your animals.
	<br />
	<strong>Click to exit tips.</strong>
</div>

<div class="profile-preview-hook" />
<div class="error-msg-hook" />

<div class="results-and-map row">
	<div class="user-items-hook col-3" />
	<div class="map-hook col-9" />
</div>

<div class="modal modal-about-map" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					The Map.
					<span class="text-muted">Find Other FosterPals.</span>
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					Enter a location in the search bar to check for FosterPals nearby. Follow a link from
					<strong>Search Results</strong> to reach a FosterPal"s profile page, where you can submit a request to have your pets fostered.
				</p>
				<p>
					Go to
					<strong>My Pets</strong> to check on the reservation status of your pets and to add pets to your roster.
				</p>
				<p>
					Go to
					<strong>Reservation Requests</strong> to see requests made by other FosterPals, asking you to foster a pet.
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default modal-off" href="" data-toggle="modal" role="button" data-dismiss="modal">
					Go To Map!
				</button>
			</div>
		</div>
	</div>
</div>