- if flash[:errors]
  %ul.flashes.mt-5
    - flash[:errors].each do |msg|
      %li.alert.alert-danger.animated.fadeInRight
        = msg

- if flash[:notice]
  %ul.flashes.mt-5
    - flash[:notice].each do |msg|
      %li.alert.alert-info.animated.fadeInRight
        =msg
