- if flash[:errors]
  %ul
    - flash[:errors].each do |msg|
      %li.alert.alert-danger
        = msg

- if flash[:notice]
  %ul
    - flash[:notice].each do |msg|
      %li.alert.alert-info
        =msg
