%nav.navbar.navbar-expand-lg.sticky-top
  %a.navbar-brand{href: '/front'}
    FosterPals
  .navbar-tagline.d-none.d-md-block
    Connecting rescue organizations with people like you.
  %button.navbar-toggler{type: "button", 'data-toggle':"collapse", 'data-target': "#navbarSupportedContent"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse.justify-content-end{id: "navbarSupportedContent"}
    %ul.navbar-nav.float-right
      %li.nav-item
        %a.nav-link{href: "/register"}
          Register
      %li.nav-item
        %a.nav-link{href:"/session/new"}
          Login
      %li.nav-item
        %a.nav-link{href:"/sign-in-as-guest"}
          Login As Guest
