<h1 class="text-center">
  <%= user.escape('name') %>
</h1>

<div class="text-center mb-3">
  <strong>ID:</strong>
  <span><%= user.escape('id') %></span>
</div>

<img class="img-fluid mx-auto" src=<%= user.escape( 'main_image_thumb_url')%>  alt="Profile Image" />