<h3>Reservation Requests</h3>

<hr>

<h5>Scheduled Animals</h5>
  <div class='animals-stays-header container'>
    <div class='row'>
      <div class='animal-name col-md-2'>
        Name
      </div>
      <div class='org-name col-md-2'>
        Rescue Org
      </div>
      <div class='start-date col-md-2'>
        Start Date
      </div>
      <div class='end-date col-md-2'>
        End Date
      </div>
    </div>

    <div class='scheduled-animals'></div>
  </div>


<h5>Pending Animals</h5>
  <div class='animals-stays-header container'>
    <div class='row'>
      <div class='animal-name col-md-2'>
        Name
      </div>
      <div class='org-name col-md-2'>
        Rescue Org
      </div>
      <div class='start-date col-md-2'>
        Start Date
      </div>
      <div class='end-date col-md-2'>
        End Date
      </div>
    </div>

    <div class='pending-animals'></div>
  </div>
