<div class="page-header">
  <h3>Reservation Requests</h3>
</div>
<hr>

<div class='animal-stays'>
  <div class='animal-stays-title'>
    <h3>Scheduled Animals</h3>
  </div>
  <div class='animals-stays-header container well'>
    <div class='row'>
      <div class=' animal-name col-md-2'>
        Name
      </div>
      <div class=' org-name col-md-2'>
        Rescue Org
      </div>
      <div class=' start-date col-md-2'>
        Start Date
      </div>
      <div class=' end-date col-md-2'>
        End Date
      </div>
    </div>

    <div class='scheduled-animals'></div>
  </div>
</div>


<div class='container'>
  <div class='row'>
    <div class='col-md-2'>
        Some stuff
    </div>
    <div class='col-md-2'>
      More stuff
    </div>
    <div class='col-md-2'>
      Even more stuff
    </div>
  </div>
</div>


<h3>Pending Animals</h3>
  <div class='animals-stays-header container'>
    <div class='row'>
      <div class='animal-name col-md-2'>
        Name
      </div>
      <div class='org-name col-md-2'>
        Rescue Org
      </div>
      <div class='start-date col-md-2'>
        Start Date
      </div>
      <div class='end-date col-md-2'>
        End Date
      </div>
    </div>

    <div class='pending-animals'></div>
  </div>
