<div class="pt-5 px-5">
  <div class="modal-hook" />

  <div class="confirmation" />

  <div class="animal-stays mb-5">
    <h3 class="text-center">Pending Reservations</h3>
    <div class="row mb-3 table-header">
      <div class=" animal-name col-3 offset-1">
        <strong>Name</strong>
      </div>
      <div class=" org-name col-2">
        <strong>Rescue Org</strong>
      </div>
      <div class=" start-date col-1">
        <strong>Start Date</strong>
      </div>
      <div class=" end-date col-1">
        <strong>End Date</strong>
      </div>
    </div>
    <div class="pending-animals" />
  </div>

  <div class="animal-stays mb-5">
    <h3 class="text-center">Scheduled Reservations</h3>
    <div class="row mb-3 table-header">
      <div class=" animal-name col-3 offset-1">
        <strong>Name</strong>
      </div>
      <div class=" org-name col-2">
        <strong>Rescue Org</strong>
      </div>
      <div class=" start-date col-1">
        <strong>Start Date</strong>
      </div>
      <div class=" end-date col-1">
        <strong>End Date</strong>
      </div>
    </div>
    <div class="scheduled-animals" />
  </div>

  <div class="animal-stays mb-5">
    <h3 class="text-center">Denied Reservations</h3>
    <div class="row mb-3 table-header">
      <div class=" animal-name col-3 offset-1">
        <strong>Name</strong>
      </div>
      <div class=" org-name col-2">
        <strong>Rescue Org</strong>
      </div>
      <div class=" start-date col-1">
        <strong>Start Date</strong>
      </div>
      <div class=" end-date col-1">
        <strong>End Date</strong>
      </div>
    </div>
    <div class="denied-animals" />
  </div>
</div>