<div class='modal-hook'>
</div>

<div class="page-header">
  <h3>Reservation Requests</h3>
</div>


<hr>

<div class='confirmation'>
</div>

</div>

<div class='animal-stays'>
  <div class='animal-stays-title'>
    <h3>Scheduled Animals</h3>
  </div>
  <div class='animals-stays-header container well'>
    <div class='row table-header'>
      <div class=' animal-name col-md-2'>
        Name
      </div>
      <div class=' org-name col-md-2'>
        Rescue Org
      </div>
      <div class=' start-date col-md-2'>
        Start Date
      </div>
      <div class=' end-date col-md-2'>
        End Date
      </div>
      <div class=' end-date col-md-2'>
      </div>
      <div class=' end-date col-md-2'>
      </div>
    </div>

    <div class='scheduled-animals'>
    </div>

  </div>
</div>

<div class='animal-stays'>
  <div class='animal-stays-title'>
    <h3>Pending Reservations</h3>
  </div>
  <div class='animals-stays-header container well'>
    <div class='row table-header'>
      <div class=' animal-name col-md-2'>
        Name
      </div>
      <div class=' org-name col-md-2'>
        Rescue Org
      </div>
      <div class=' start-date col-md-2'>
        Start Date
      </div>
      <div class=' end-date col-md-2'>
        End Date
      </div>
      <div class=' end-date col-md-2'>
      </div>
      <div class=' end-date col-md-2'>
      </div>

    </div>

    <div class='pending-animals'>
    </div>

  </div>
</div>

<div class='animal-stays'>
  <div class='animal-stays-title'>
    <h3>Denied Reservations</h3>
  </div>
  <div class='animals-stays-header container well'>
    <div class='row table-header'>
      <div class=' animal-name col-md-2'>
        Name
      </div>
      <div class=' org-name col-md-2'>
        Rescue Org
      </div>
      <div class=' start-date col-md-2'>
        Start Date
      </div>
      <div class=' end-date col-md-2'>
        End Date
      </div>
      <div class=' end-date col-md-2'>
      </div>
      <div class=' end-date col-md-2'>
      </div>

    </div>

    <div class='denied-animals'>
    </div>

  </div>
</div>
