<div class="pt-5 px-5">
  <div class="modal-hook" />

  <div class="confirmation" />

  <div class="animal-stays">
    <h3 class="text-center">Pending Reservations</h3>
    <div class="row">
      <div class=" animal-name offset-2 col-3">
        Name
      </div>
      <div class=" org-name col-3">
        Rescue Org
      </div>
      <div class=" start-date col-2">
        Start Date
      </div>
      <div class=" end-date col-2">
        End Date
      </div>
    </div>
    <div class="pending-animals" />
  </div>

  <div class="animal-stays">
    <h3 class="text-center">Scheduled Reservations</h3>
    <div class="row">
      <div class=" animal-name offset-2 col-3">
        Name
      </div>
      <div class="org-name col-3">
        Rescue Org
      </div>
      <div class="start-date col-2">
        Start Date
      </div>
      <div class="end-date col-2">
        End Date
      </div>
    </div>
    <div class="scheduled-animals" />
  </div>

  <div class="animal-stays">
    <h3 class="text-center">Denied Reservations</h3>
    <div class="row">
      <div class=" animal-name offset-2 col-3">
        Name
      </div>
      <div class="org-name col-3">
        Rescue Org
      </div>
      <div class="start-date col-2">
        Start Date
      </div>
      <div class="end-date col-2">
        End Date
      </div>
    </div>
    <div class="denied-animals" />
  </div>
</div>