<h1> <%= CURRENT_USER %>'s HOME</h1>
<div class='container-fluid'>
  <div class='row'>

    <div class='profile-island col-md-4'>
    </div>

    <div class='info col-md-8'>
    </div>
  </div>

</div>
