<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: { lat: 37.7835, lng: -122.4169},
      zoom: 8
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    var myLatlng = new google.maps.LatLng(37.7835, -122.4169);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!'
    });

    // for (var i = 0; i < <%= users.models.length %>; i++) {
    //   var user = <%= users.models[i] %>;
    //   // TODO here!!!!!
    //   var userLatLng = new google.maps.LatLng(
    //     user.escape('lat'),
    //     user.escape('long')
    //   )
    //   new google.maps.Marker({
    //     position: userLatLng,
    //     map: map,
    //     title: user.escape('name')
    //   })
    // }

    //  TODO: insert script to populate map with markers of where fosterers and orgs are.
  }
  google.maps.event.addDomListener(window, 'load', initialize);
  google.maps.event.trigger(window, 'load')
</script>
<div id="map-canvas"></div>

<div class='search-results'></div>
