<div class='container'>
  <div class='row table-header'>
    <h4 class='col-md-2' id='image-col'></h4>
    <h4 class='col-md-1'>Name</h4>
    <h4 class='col-md-1'>Species</h4>
    <h4 class='col-md-1'>Breed</h4>
    <h4 class='col-md-1'>Color</h4>
    <h4 class='col-md-1'>Sex</h4>
    <h4 class='col-md-1'>Weight</h4>
    <h4 class='col-md-1'>Adoption Status</h4>
    <h4 class='col-md-1'>Fosterer Status</h4>
    <h4 class='col-md-1'>Fosterer</h4>
  </div>

  <div class='animals-list'>
  </div>
</div>
