<div class="text-center mb-5">
  <strong>Click on an animal to view its image gallery</strong>
</div>

<div class='row animal-roster'>
  <h4 class='col-md-2' id='image-col'></h4>
  <h4 class='col-md-1'>Name</h4>
  <h4 class='col-md-1'>Species</h4>
  <h4 class='col-md-1'>Breed</h4>
  <h4 class='col-md-1'>Color</h4>
  <h4 class='col-md-1'>Sex</h4>
  <h4 class='col-md-1'>Weight</h4>
</div>

<hr />

<div class='animals-list' />