<div class='container'>
  <div class='display-none animated well gallery-help-msg'>
    Click on an animal to view its image gallery
  </div>

  <div class='row table-header animal-roster'>
    <h4 class='col-md-2' id='image-col'></h4>
    <h4 class='col-md-1'>Name</h4>
    <h4 class='col-md-1'>Species</h4>
    <h4 class='col-md-1'>Breed</h4>
    <h4 class='col-md-1'>Color</h4>
    <h4 class='col-md-1'>Sex</h4>
    <h4 class='col-md-1'>Weight</h4>

    <!--
    <h4 class='col-md-1'>Adoption Status</h4>
    -->

    <h4 class='col-md-2'>Fostering Status</h4>
    <h4 class='col-md-2'>Fosterer</h4>
  </div>

  <div class='animals-list'>
  </div>
</div>
