
<nav class="navbar navbar-inverse navbar-static-top">
  <!-- <div class="container"> -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FosterPals</a>
    </div>
    <div id="navbar" class="pull-right navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>

        <% if (CURRENT_USER_ROLE === "fosterer") { %>
          <li><a href="#schedule-manager">Schedule Manager</a></li>
        <% } else { %>
          <!-- var id = CURRENT_USER_ID; -->
          <li><a href="#animal-roster">Animal Roster</a></li>

        <li><a href="#sign-out" id='sign-out-link'>Sign Out</a></li>
        <% } %>
      </ul>
    </div>

  <!-- TODO: implement search function by location -->
  <form class="navbar-form" role="search">
    <div class="form-group">
      <input type="text" class="form-control search-input" placeholder="Search for Fosterers and Rescue Orgs by Location">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</nav>
