<!-- TODO: omgz, react please -->
<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-dark">
  <a class="navbar-brand" href="/front">
    FosterPals
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon" />
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class='welcome-text nav-item'>
        <a class="nav-link" href="#">
          Welcome,
          <%= CURRENT_USER %>!
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#profile" id="<%= CURRENT_USER_ID %>">
          My Profile
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#schedule-manager" id='schedule-manager-link'>
          Reservation Requests
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#animal-roster" id='animal-roster-link'>
          My Pets
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#sign-out" id='sign-out-link'>
          Sign Out
        </a>
      </li>
    </ul>
    <form class="form-inline">
      <input type="text" class="form-control search-input" placeholder='"New York, NY", "New Orleans, LA", etc...' name='location_query'
        id='search-input' />
      <button class="ml-1 btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>