<div class='schedule-manager-item col-md-3'>
  <%= animal.escape('name') %>
</div>

<div class='schedule-manager-item col-md-3'>
  <%= org.escape('org_name') %>
</div>

<div class='schedule-manager-item col-md-3'>
  <%= stay.escape('check_in_date') %>
</div>

<div class='schedule-manager-item col-md-3'>
  <%= stay.escape('check_out_date') %>
</div>
