<img src=<%= user.escape('main_image_thumb_url') %> >

<% if (parseInt(user.escape('id')) === CURRENT_USER_ID ) { %>
  <br>
  <button class='photo-upload-btn btn btn-primary'>Change Photo</button>
<% } %>
