<div class="sidebar-info">
  <h3>Search Results</h3>
  <hr>
  <!-- <p>
    These are the available users. You can:
  </p>
  <ul>
    <li>Click on the map to add users</li>
    <li>Hover over user names to animate markers</li>
    <li>Click on user names to pan</li>
    <li>Click on markers to show info windows</li>
    <li>Click (remove) to destroy users</li>
  </ul> -->
</div>

<% users.each(function (user) { %>
  <div class="user-item" data-user-id=<%= user.escape('id')%> >
      <%= user.get('name') %>        (remove)
  </div>
<% }); %>
