<div class="sidebar-info">
  <h3>Search Results</h3>
  <hr>
</div>

<% users.each(function (user) { %>
  <div class="user-item" data-user-id=<%= user.escape('id')%> >
      <%= user.get('name') %>
  </div>
<% }); %>
