/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.fancybox
 *= require animate
 *= require modal
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

.front-nav {
  top: 0px;
}

.static-page-content {
  position: relative;
  top:48px;
}

ul.navbar-nav.nav {
  height: inherit;
}

.navbar-wrapper {
  width: 100%;
  position: fixed;
}

.prompt-deny {
  margin-left: 10px;
  height: 30px;
}

.register-form {
  position: relative;
}



.rtrn-to-manager {
  margin-top: -1px;
}


.flashes {
  position: absolute;
  z-index: 1001;
  top: 25%;
  left: 48%;
}

.states {
  color: #464567;
}

.user-item {
  cursor: pointer;
}

.animal-item-view.row {
  // margin-top:  20px;
  // margin-bottom:  -20px;
}

.contact-btns {
  button {
    margin: 10px;
  }
}

.profile-hook {
  width: auto;
  .profile-view {
    min-width: 341px;
    width: auto;
  }
}

.animal-item-view.row:hover {
  cursor: pointer;
}

.animal-item-view {
  .animal-name {
    margin: 0px;
    margin-top: 19px;
  }
}

.animal-show-view {
  .animal-name {
    font-size: 48pt;
    text-align: center;
    margin-top: 21px;
  }
}

.deny-btns {
  margin: 11px;
}

.gallery-help-msg {
  z-index: 1001;
  position: absolute;
  border-radius: 15px;
  background-color: #904295;
}

.schedule-manager-item-view {
  width: 98%;
  border-radius: 10px;
  background-color: rgb(41, 65, 81);
  margin-top: 16px;
}

.animal-item-view {
  .col-md-1, .col-md-2 {
    margin-top: 22px;
  }
}

a.fancybox {
  img {
    width: 340px;
  }
}

.animal-img.col-md-2 {
  margin-top: 10px;
  img {
    width: auto;
    height: 61px;
  }
}

.animal-img.reservation-item {
  width: auto;
  margin-top: 0px;
  img {
    width: auto;
    height: 61px;
  }
}

.animal-item-hook.well {
  background-color: #143242;
  width: 60%;
  display: block;
  margin: 0px;
  margin-top: 40px;
  margin-left: 14px;
  height: 104px;
  border-radius: 15px;
}

.back-to-profile-btn {
  padding: 10px;
}

.confirmation-btns {
    margin-top: 10px;
}

.modal {
  .modal-content {
    height: 100%;
    .container {
      padding: 5px;
    }
    label.col-md-2 {
      text-align: right;
      position: relative;
      top: 19px;
    }
    div.input-group {
      width: 40%;
    }
    select {
      width: 33%;
    }
  }
}

.btns {
  margin-left: auto;
  margin-right: auto;
  display: block;
  button {
    position: relative;
    margin: 15px;
    left: 35%
  }
  a {
    margin: 15px;
    position: relative;
    left: 36%;
  }
}


p.map-modal-text {
  text-align: left;
}

.scheduler-errors-hook {
  z-index: 1001;
  position: absolute;
  top: 121px;
  right: 12%;
  .validation-error {
    background-color: red;
    border-radius: 10px;
    display: block;
    width: 200px;
    padding: 8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: inherit;
  }
}

.navbar-nav {
  li {
    height: inherit;
  }
}

.errors-hook {
  position: relative;
}

.validation-errors-view {
  z-index: 1000;
  position: absolute;
  bottom: -295px;
  right: 9%;
  .validation-error {
    background-color: red;
    border-radius: 10px;
    display: block;
    width: 200px;
    padding: 8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: inherit;
  }
}


#myModal {

  .modal-header {
    button.close {
      position: relative;
      top: -27px;
      right: 0px;
    }
    width: 100%;
    img {
      width: auto;
      height: 289px;
      border-radius: 10px;
      display: block;
      margin-top: 23px;
      margin-left: 183px;
      margin-right: auto;
    }
    .modal-title {
      text-align: center;
      padding-top: 15px;
    }
  }
  .modal-body {
    margin-top: -50px;
    width: auto;
    .modal-text {
      ul {
        list-style: none;
        margin-left: 94px;
      }
      width: 100%;
      text-align: left;
      p {
        text-align: center;
        margin: 28px;
      }
    }
  }
}

.modal-dialog {
  margin:auto;
  width: 900px;
  height: auto;
  border-radius: 20px;
}

.modal-slacker .modal-content {
  border-radius: 20px;
}



img.img-responsive {
  width: 150px;
}

.gallery {
  margin-top: 20px;
}

.img-thumb {

}

.active-highlight {
  background-color: rgb(59, 41, 68);
}

.user-item-info {
  display: inline-block;
  width: 200px;
}

.go-to-user-profile {
  display: inline-block;
  float: right;
  padding: inherit;
}

.no-results-err {
  font-size: 30px;
  position: absolute;
  z-index: 1000;
  top: 292px;
  right: 340px;
  color: white;
  background-color: red;
  border-radius: 10px;
  padding: 17px;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0;
}

.no-results-err.fade-in {
  opacity: 1;
  transition: opacity 1000ms ease;
}

.no-results-err.fade-out {
  opacity: 0;
  transition: opacity 5000ms ease;

}

.res-confirmation {
  font-size: 30px;
  position: absolute;
  z-index: 1000;
  top: 33%;
  right: 6%;
  color: white;
  background-color: green;
  border-radius: 10px;
  padding: 17px;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0;
  animation-duration: 1s;
}

.res-confirmation.fadeIn {
  opacity: 1;
}

.res-confirmation.fadeOut {
  opacity: 0;
  animation-duration: 5s;
}

#image-col {
  width: 15%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

input.role-radio-btns.form-control {
  width: auto;
  position: relative;
  top: -16px;
  left: -16px;
}

.radio-btn-label {
  display: inline;
  left: 65px;
  position: relative;
}

.input-group > input.register-btn.form-horizontal.form-group {
  margin-left: 11px;
}

.role-label {
  font-weight: inherit;
}

select {
  left: 11px;
}

.error-msg-hook {
  position: relative;
  top: 54px;
}

button.register-featurette-btn {
  width: 162px;
  height: 38px;
}

.navbar-form.navbar-search {
  width: auto;
  display: inline-block;
  margin: auto;
  margin-top: 12px;
}

.sex-radio-btns {
  width: 26px;
}

.navbar-nav {
  font-size: 9pt;
  height: 37px;
}

#search-btn {
  width: 103px;
  font-size: 9pt;
}

.navbar-tagline {
  position: absolute;
  font-size: 9pt;
  width: 451px;
  text-align: center;
  margin-top: 21px;
  font-family: 'Inconsolata', ;
  top: 21px;
  left: -52px;
}

.marketing-header {
  font-size: 30px;
  border: 2px solid white;
  border-radius: 13px;
  padding: 6px;
  margin-top: 22px;
}

.btn {
  padding: 2px 18px;
  width: inherit;
}







.m-backdrop {
  display: block;
  position: fixed;
  opacity: .7;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: black;
}

.m-content {
  position: fixed;
  opacity: 1;
  height: 800px;
  width: 800px;
  z-index: 10001;
  top: 15%;
  left: 32%;
  background-color: red;
}

.high-z {
  z-index: 1000;
}

.radio-btns {
  position: relative;
  left: 5px;
  height: 129px;
}

.schedule-manager-item {
  display: inline;
}

.container {
}

.table-header.animal-roster {

}

.table-header {
  border-bottom: red solid 1px;
  font-weight: bolder;
}

.animal-stays {
  margin-left: 25px;
}

li.alert {
  width: 256px;
  padding: 8px;
  text-align: center;
  list-style-type: none;
  margin: auto;
  margin-top: 11px;
}

.form-horizontal .form-group {
  margin: 0px;
}

.add-image-btn {
  margin: 5px;

}

.add-animal-btn {
  margin-top: 15px;
  margin-left: 184px;
}

span.strong {
  font-weight: bold;
}

.ui-selected {
  background-color: #904295;
}

.selected {
  background-color: #904295;
}

.navbar-view, .navbar {
  height: inherit;
}

.active-item {
  border-color: #904295;
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
}

.gm-style-iw {
  color: #553f66;

  font-weight: bold;
}

.user-item {
  padding: 10px;
}

.navbar-wrapper {
  height: 51px;
  z-index: 1001;
}

#content, #search-results-view, .map-view, .map-hook, #user-items{
  height: inherit;
}

#content {
  top: 60px;
  position: relative;
}

.user-items{
  float: left;
  width: 50%;
  height: 100%;
}

.users-index {
  float: left;
  height: 100%;
  width: 100%;

}

#map-hr {
  margin: 0px;
}

.map-hook {
  width: 50%;
  margin: 0px;
  padding: 0px;
  float: right;
  border-radius: 5px;
  border-color: #A33D3D;
  border-style: solid;
  top: 60px;
  position: fixed;
  left: 50%;

}

// div.container {
//   margin-left: 0px;
//   margin-right: 0px;
//   width: inherit;
//   padding: 0px;
// }

select.new-user {
  color: #464545;
}

.dates-picker {
  height: auto;
  .panel {
    border-color: #A33D3D;
    background-color: #76415F;
  }
}

.dates-picker-errors {
  position: relative;
  top: 0%;
  left: 0%;
}

.panel {
  border-color: #321616;
  background-color: #614646;
  padding: 15px;
}

.navbar-brand {
  font-family: 'Roboto Slab', serif;
}

li.welcome-text {
  background-color: #5E007B;
  a.welcome-text {
   pointer-events: none;
  }
}

ul {
  .animal-item {
    height: 136px;
  }
}

.animals-index-view {
  .container {
    width: 100%;
  }
}

#sign-out-link {
  margin-left: 40px;
}

.navbar-form {

  margin-top: 8px;
  width: 700px;
}

input.form-control.search-input {
  width: 267px;
  font-size: 10pt;
  height: 36px;

}

#myCarousel {
  min-height: 500px;

  .carousel-inner {

    height: 500px;

    .item {
      height: inherit;
    }

  }
}

.invisible {
  visibility: hidden;
}

.input-group {
  padding: 10px;
  min-width: 229px;
  input {
    border: 2px solid grey;
    border-radius: 10px;
  }
}

.display-none {
  display: none;
}

.navbar.navbar-inverse.navbar-static-top {
  margin: 0px;
}

.page-header {
  margin: auto;
  display: table;
}

.form-horizontal.well {
  margin: auto;
  width: 600px;
}

.animals-index-view.well {
  max-width: inherit;
  margin: auto;
}

.well {
  margin: 32px;
}


.active-user-item {
  background-color: rgb(59, 41, 68);
}

.row > * { display: inline-block; }
