/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/selectable
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

.result-item {
  padding: 10px;
}

.navbar-wrapper {
}

#content, #search-results-view, #map-view, #map, #result-items{
  height: inherit;
}

#result-items {
  float: left;
  width: 50%
}

#map-hr {
  margin: 0px;
}

#map-canvas {
  height: 100%;
  width: 50%;
  margin: 0px;
  padding: 0px;
  float: right;
  border-radius: 5px;
  border-color: #A33D3D;
  border-style: solid;
}

div.container {
  margin-left: 0px;
  margin-right: 0px;
  width: inherit;
  padding: 0px;
}

select.new-user {
  color: #464545;
}

.dates-picker {
  height: auto;
  .panel {
    border-color: #A33D3D;
    background-color: #76415F;
  }
}

.navbar-brand {
  font-family: 'Roboto Slab', serif;
}

a.welcome-text {
 pointer-events: none;
}

li.welcome-text {
  border-left: white solid 2px;
  border-right: white solid 2px;
}

ul {
  .animal-item {
    height: 136px;
  }
}

.animals-index {
  .container {
    width: 100%;
  }
}

#sign-out-link {
  margin-left: 40px;
}

.navbar-form {

  margin-top: 8px;
  width: 700px;
}

input.form-control.search-input {
  width: 400px;
}

#myCarousel {
  min-height: 500px;

  .carousel-inner {

    height: 500px;

    .item {
      height: inherit;
    }

  }
}

.invisible {
  visibility: hidden;
}

.input-group {
  min-width: 229px;
}

.display-none {
  display: none;
}


.navbar.navbar-inverse.navbar-static-top {
  margin: 0px;
}

.page-header {
  margin: auto;
  display: table;
}

.form-horizontal.well {
  margin: auto;
}

.animals-index.well {
  max-width: inherit;
  margin: auto;
}

.well {
  max-width: 600px;
  margin: 32px;
}
