html,
body,
#content {
  height: 100%;
  overflow: auto;
}

#content {
  padding: 41px 0 47px 0;
}

main {
  height: inherit;
  overflow: auto;
  
  // so fixed navbar and footer do not over lap with content.
  &.app-container {
    padding: 4em 0;
  }
}

textarea {
  max-width: 100%;
  min-width: 80%;
}

.user-item {
  cursor: pointer;
}


.errors-hook {
  position: relative;
}

#map-modal-header {
  width: 615px;
  text-align: center;

  button.close {
    position: absolute;
    top: 16px;
    right: 40px;
  }
}

.gm-style-iw {
  color: #553f66;
  font-weight: bold;
}

hr {
  border: 1px dashed rgb(24, 188, 156);
}

ul {
  list-style-type: none;
}

@include media-breakpoint-up(xs) {
}
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(xl) {
}
