.dates-picker {
  img {
    max-width: 10em;
    border-radius: 5px
  }
}

.confirmation-view {
  img {
    max-width: 10em;
    border-radius: 5px;
  }
}

.animal-selector-item {
  cursor: pointer;
}