.footer {
  background: $brand-green;
  color: white;
  font-size: 12pt;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer__who-made-this {
  position: initial;
  float: right;
  background: initial;
  box-shadow: none;
  padding: 0;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: $font-color-hover;
    }
  }
}
