.footer {
  background: #18bc9c;
}

.footer__who-made-this {
  position: initial;
  float: right;
  background: initial;
  box-shadow: none;
  padding: 0;

  a {
    color: white;
    text-decoration: none;

    & :hover {
      color: #2c3e50;
    }
  }
}
