footer {
  background: $brand-green;
  color: $white;
  font-size: 1em;
  line-height: 3.5em;
  height: 3.5em;

  .who-made-this {
    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $font-color-hover;
      }
    }
  }
}
