.page-front {

  .container.marketing {
    width: auto;
    padding: 0px;
  }

  .even-featurette {
    background-color: rgb(243, 243, 243);
    padding: 3%;
    padding-left: 7%;
    padding-right: 7%;
  }

  .featurette-divider.front {
    margin: 0px;
  }

  .marketing-header {
    font-size: 30px;
    border: 2px solid white;
    border-radius: 13px;
    padding: 6px;
    margin-top: 22px;
  }

  .m-backdrop {
    display: block;
    position: fixed;
    opacity: .7;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: black;
  }

  .m-content {
    position: fixed;
    opacity: 1;
    height: 800px;
    width: 800px;
    z-index: 10001;
    top: 15%;
    left: 32%;
    background-color: red;
  }

  .modal-body {
    a {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 24%;
    }
  }

  .modal {
    .modal-content {
      height: 100%;
      .container {
        padding: 5px;
      }
      label.col-md-2 {
        text-align: right;
        position: relative;
        top: 19px;
      }
      div.input-group {
        width: 40%;
      }
      .modal-header {
        margin-top: 2px;
        margin-bottom: 14px;
      }
      select {
        width: 33%;
      }
    }
  }

  #myCarousel {
    min-height: 500px;

    .carousel-inner {

      height: 800px;

      .item {
        height: inherit;
      }

    }
  }

  .odd-featurette {
    padding: 3%;
    padding-left: 7%;
    padding-right: 7%;
  }

  .who-made-this {
    position: initial;
    float: right;
    background: initial;
    box-shadow: none;
    padding: 0;

    & :hover {
      text-decoration: none;
      color: #2c3e50;
    }
  }

}


.modal-front-page {

  .modal-header {
    padding: 0;

    .btn.btn-close {
      position: relative;
      top: -30px;
      right: 18px;
    }
  }

  img {
    margin: 0;
  }
} 