.page-front {
  .even-featurette {
    background-color: rgb(243, 243, 243);
    padding: 3%;
    padding-left: 7%;
    padding-right: 7%;
  }

  .featurette {
    min-height: 38em;
  }

  .featurette-divider.front {
    margin: 0px;
  }

  .marketing-header {
    font-size: 30px;
    border: 2px solid white;
    border-radius: 13px;
    padding: 6px;
    margin-top: 22px;
  }

  .m-backdrop {
    display: block;
    position: fixed;
    opacity: .7;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: black;
  }

  .m-content {
    position: fixed;
    opacity: 1;
    height: 800px;
    width: 800px;
    z-index: 10001;
    top: 15%;
    left: 32%;
    background-color: red;
  }

  .modal-body {
    a {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 24%;
    }
  }

  #myCarousel {
    min-height: 500px;

    .carousel-inner {

      height: 800px;

      .item {
        height: inherit;
      }
    }
  }

  .odd-featurette {
    padding: 3%;
    padding-left: 7%;
    padding-right: 7%;
  }
}