.navbar-collapse.collapse {
  height: 100% !important;
}

.navbar-nav {
  font-size: 12pt;
  height: 37px;
}

#search-btn {
  width: 128px;
  font-size: 9pt;
}

.navbar-tagline {
  font-size: 9pt;
  width: 41em;
  text-align: center;
  margin-top: 21px;
  font-family: "Inconsolata";
  color: white;
  line-height: 22px;
}   

.navbar-view, .navbar {
  height: inherit;
}

.navbar-wrapper {
  top: 0;
  height: 51px;
  z-index: 1001;
  width: 100%;
  position: fixed;
  height: auto;
}

.navbar-brand {
  font-family: 'Roboto Slab', serif;
}

.navbar-form {

  margin-top: 8px;
  width: 700px;
}

.navbar.navbar-inverse.navbar-static-top {
  margin: 0px;
}
