.page-register {

	.form-group {
		margin: 1em 0;
	}
	
	label {
		font-weight: inherit;
		display: inline;
		float: left;
		margin-left: 3em;

		input[type="radio"] {
			display: inline-block;
			width: 2em;
		}

		span {
			position: relative;
			bottom: 1em;
		}
	}

	.register-form {
	  position: relative;
	}


	.states {
	  color: #464567;
	}
}


