.schedule-manager-view {
  .schedule-manager-item-view {
    &:hover {
      border: 1px solid $dark-grey;
      background: $dark-grey;
      border-radius: 5px;
    }
  }
  
  .table-header {
    .animal-name {
      padding-right: 140px;
      text-align: right;
    }
  }
}
