.animal-selector-item, .chosen-animal {
  padding: 14px;
  img {
    border-radius: 5px;
  }
}

#back-to-profile-btn {
  margin-top: 15px;
  padding: 10px;
}

#check-aval-btn {
  width: 100%;
}

.confirmation-view {
  img {
    margin-top: 10px;
  }
  .btn.to-map {
    margin-top: 10px;
  }

}

.dates-picker-hook {
  img {
    max-width: 128px;
  }
}

.dates-picker {
  border: 2px solid black;
  width: 500px;
  height: auto;
  .container {
    width: 100%;
    .col-sm-6 {
      width: 100%;
    }
  }
  .panel {
    border-color: #A33D3D;
  }
}

.dates-picker-errors {
  position: relative;
  top: 0%;
  left: 0%;

}

.no-animals-selected-err {
  position: absolute;
  background: red;
  color: white;
  border-radius: 10px;
  padding: 17px;
  top: 94%;
  left: 99%;
}

.prompt-deny {
  margin-left: 10px;
  height: 30px;
}

.scheduler-errors-hook {
  z-index: 1001;
  position: absolute;
  top: 121px;
  right: 12%;
  .validation-error {
    background-color: red;
    border-radius: 10px;
    display: block;
    width: 200px;
    padding: 8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: inherit;
  }
}

.to-animal-roster-btn {
  background-color: #F11F25;
}
