.error-msg-hook {
  position: relative;
  top: 54px;
}

.explain {
  position: absolute;
  border-radius: 3px;
  z-index: 1001;
  background-color: #48ba58;
  border: 2px black solid
}

.explain-my-pets {
  top: -85px;
  right: 175px;
}

.explain-reservations {
  top: -85px;
  right: 337px;;
}

.explain-search-results-profiles {
  top: 73px;
  left: 589px;
  width: 283px;
}

.go-to-user-profile {
  display: inline-block;
  float: right;
  padding: inherit;
  border-radius: 10px;
}

.nav-link-pop {
  height: inherit;
  border: 2px solid white;
}

.no-results-err {
  font-size: 30px;
  position: absolute;
  z-index: 1000;
  top: 292px;
  right: 340px;
  color: white;
  background-color: red;
  border-radius: 10px;
  padding: 17px;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0;
}

.no-results-err.fade-in {
  opacity: 1;
  transition: opacity 1000ms ease;
}

.no-results-err.fade-out {
  opacity: 0;
  transition: opacity 5000ms ease;
}


.pulse {
  -webkit-animation-name: pulsate;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite
}

@-webkit-keyframes pulsate {
 30% { opacity: .60 }
 40% { opacity: .80 }
 50% { opacity: 1.0}
 60% { opacity: .80}
 70% { opacity: .60}
 }

.profile-preview-hook {
  position: absolute;
  top: 85px;
}

.profile-preview-view {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border: 2px solid black;
  position: fixed;
  z-index: 100;
  min-width: 500px;
  min-height: 500px;
  left: 50px;
  img {
    min-width: 300px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .stats {
    font-size: 17pt;
    color: white;
    text-align: center;
    margin-top: 10px;
  }
}

.search-results-view {
  .modal-slacker {
    .modal-header {
      margin-bottom: 0px;
      // width: 822px;
    }
    .modal-body {
      margin-top: 0px;
    }
    p:last-child {
      margin-top: 33px;
    }
  }
}

.user-items {
  /*height: 100%;*/
  /*overflow: hidden;*/
  padding-top: 5em;
  margin-bottom: 5em;
}

.user-item {
  padding: 10px;
}

.user-item-info {
  display: inline-block;
  width: 200px;
}

.users-index {
  float: left;
  height: 100%;
  width: 100%;
}

.results-and-map {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.user-items-hook {
/*  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 1;*/
}

.map-hook {
/*  width: 76%;
  margin: 0px;
  padding: 0px;
  float: right;
  top: 60px;
  position: fixed;
  left: 23%;
  border: 2px solid rgb(24, 188, 156);
  border-radius: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-top: 0px;
*/}


.sidebar-info {
  background: white;
  position: fixed;
  width: 24em;
  text-align: center;
  
  hr {
    margin: 0;
  }
}