.error-msg-hook {
  position: relative;
  top: 54px;
}

.explain {
  position: absolute;
  z-index: 1001;
  top: 10em;
  left: 50%;
  &:hover {
    cursor: pointer;
  }
}

.go-to-user-profile {
  display: inline-block;
  padding: inherit;
  border-radius: 10px;
}

.nav-link-pop {
  height: inherit;
  border: 2px solid white;
  border-radius: 5px;
}

.no-results-err {
  font-size: 30px;
  position: absolute;
  z-index: 1000;
  top: 292px;
  right: 340px;
  color: white;
  background-color: red;
  border-radius: 10px;
  padding: 17px;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0;
}

.no-results-err.fade-in {
  opacity: 1;
  transition: opacity 1000ms ease;
}

.no-results-err.fade-out {
  opacity: 0;
  transition: opacity 5000ms ease;
}

.pulse {
  -webkit-animation-name: pulsate;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-name: pulsate;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.go-to-user-profile__pal {
  a {
    color: $brand-green;
  }
}

@-webkit-keyframes pulsate {
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.6;
  }
}

.user-items-hook {
  overflow: scroll;
}

.profile-preview-hook {
  position: absolute;
  top: 85px;
}

.profile-preview-view {
  position: fixed;
  z-index: 10000000000;
  min-width: 500px;
  min-height: 500px;
  left: 10em;
  img {
    min-width: 300px;
    border-radius: 5px;
  }
  .stats {
    font-size: 1em;
  }
}

#search-results-view,
.results-and-map {
  height: inherit;
  padding-top: 1em;
}

.user-items {
  padding-top: 5em;
  margin-bottom: 5em;
}

.user-item {
  padding: 10px;
}

.user-item-info {
  display: inline-block;
  width: 200px;
}

.users-index {
  float: left;
  height: 100%;
  width: 100%;
}

.map-view {
  height: 100%;
}

.sidebar-info {
  width: 24em;
  background: $body-color;
  top: 4em;
  height: 6em;
  padding-top: 2em;
}
