.about {
  border: 2px solid black;
  width: 500px;
  min-height: 600px;
}

.display-none {
  display: none;
}

form {
  padding-left: 10px;
}

.form-horizontal .form-group {
  margin-left: 0px;
}

h1 {
  margin-left: 38px;
}

.lock-check-out {
  opacity: .3;
}

.alert {
	position: absolute;
}