$brand-green: #28e4bf;
$font-color-hover: #2c3e50;
$white: white;
$dark-grey: #303030;
$lightest-grey: #e9e9e9;
$light-grey: #cbcbcb;
$medium-grey: #a7a7a7;
$body-color: $white;
$brand-color: $brand-green;