<h4>Check-in:</h4>
<br>
<div id='datepicker-check-in'></div>

<BR><BR>

<h4>Check-out:</h4>
<br>
<div id='datepicker-check-out'></div>

<script>
  $(function () {
    $( "#datepicker-check-in" ).datepicker({
      beforeShow: function(input) {
        $( input ).css( 'background-color', '#ff9' );
      },
      onSelect: function(dateText, inst) {
        // $( this ).css( 'background-color', '' );
        alert( 'Selected: ' + dateText +
          "\n\nid: " + inst.id +
          "\nselectedDay: " + inst.selectedDay +
          "\nselectedMonth: " + inst.selectedMonth +
          "\nselectedYear: " + inst.selectedYear);
      },
      onClose: function(dateText, inst) {
        $( this ).css( 'background-color', '' );
      }
    });
    $( "#datepicker-check-out" ).datepicker();
  });
</script>
