
<div class='page-header'>
  <h3>Add Pet</h3>
</div>

<section class='add-animal'></section>

<div class='page-header animal-roster'>
  <h3>My Pets</h3>
</div>

<section class='animals-roster'></section>
