
<div class='page-header'>
  <h3>Add Animal</h3>
</div>

<section class='add-animal'></section>

<div class='page-header animal-roster'>
  <h3>Animal Roster</h3>
</div>

<section class='animals-roster'></section>
