<% if (CURRENT_USER_ID !== parseInt(user.escape('id'))) { %>
  <!--
  <button class='btn btn-primary'>
    <% if (user.escape('role') === 'fosterer') { %>
      Contact Fosterer
    <% } else { %>
      Contact Rescue Organization
    <% } %>
  </button>
  -->

  <button class='btn btn-primary schedule-btn' data-user-id= <%= user.escape('id')%> >
    Click to Request a Reservation for your Pet!
  </button>
<% } else { %>
  <button class='btn btn-primary edit-profile-btn'>
    Edit Profile
  </button>
<% } %>

<div class='highlight-request-btn animated well slideInRight'>
  <<< Click here to request a reservation with this fosterer for your pet!
</div>

<script>
  setTimeout(function () {
    $('.highlight-request-btn').toggleClass('slideInRight').toggleClass('fadeOut');
  }, 3000)
</script>
